.bg-image {
    height: 345px;
    background-size: cover;
    position: relative;
}

.banner-slider {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button::before {
    font-size: 10px;
    color: white;
}