.navbar {
    background-color: #ffffffe2;
    box-shadow: 0 2px 4px rgba(227, 51, 51, 0.05);
}

.navbar-brand img {
    width: 70px;
    margin-left: 0px;
}

.navbar-nav .nav-item {
    margin-right: 0px;
}

.nav-link {
    color: #a49d9d;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #1d1b1b;
    border-color: #c8c8c8;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler i {
    font-size: 28px;
    color: #000000;
}